body{
    background-color: powderblue;
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
}

li{
    font-size:x-large;
    font-weight:bold;
}
h1{
    font-weight:bolder;
}

h2{
    font-weight:bold;
    font-style:italic;
}

h5{
    font-weight:bold;
}
table{
    border-spacing: 10px;
    width: 65%;
    padding: 10px;
}


table, th, td{
    border: 1px black solid;
    text-align: center;
}

tr.stocked{
    background-color:greenyellow;
}

tr.notStocked{
    background-color:crimson;
}

input:invalid{
    border: 2px dashed red;
}
