body{
    background-color: powderblue;
}


table{
    border-spacing: 10px;
    width: 65%;
    padding: 10px;
}


table, th, td{
    border: 1px black solid;
    text-align: center;
}

tr.stocked{
    background-color:greenyellow;
}

tr.notStocked{
    background-color:crimson;
}
